<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="assistivebushelper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidKotlinApplication"
        tools:targetApi="m">
        <activity
            android:name="mk.ukim.finki.assistivebushelper.ui.CameraActivity"
            android:exported="false" />

        <service
            android:name="mk.ukim.finki.assistivebushelper.util.ocr.OCRService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name="mk.ukim.finki.assistivebushelper.util.tts.TTSService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="mk.ukim.finki.assistivebushelper.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>